/*maine color #30373e*/
/*text color #000000 opacity 20%*/

.App {
  background-color: #30373e;
  color: #000000;
  margin: 0;
}

.header{
  width: 100%;
  height: 50px;
  display: flex;
  box-shadow: 0px 2px 2px 0px rgba(255,255,255,0.1);
}

.logo{
  height: 30px;
  width: 30px;
  align-self: center;
  margin-left: 5%;
}

.brand{
  margin-left: 15px;
  font-size: 24px;
  color: #fff;
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
}

.tab{
  width: 100%;
  display: inline-block;

}

.tabContainer{
  margin-top: 50px;
}

.info{
}

.chart{
  margin-top: 50px;
}

.cards{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.card{
  width: 20%;
  text-align: center;
  background-color: #343a40;
  color: #fff;
  justify-content: baseline;
}

.cardDesc{
  font-size: 16px;
}

.cardInfo{
  font-size: 20px;
}

.footer{
  margin-top: 50px;
  background-color: #30373e;
  width: 100%;
  height: 100px;
  color: #fff;
  text-align: center;
}

